/* Container Styles */
.embla {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
}

.embla__viewport {
    overflow: hidden;
    background: #CCCCCC;
    margin-bottom: 30px;
    border-radius: 1rem;
}

.embla__container {
    display: flex;
}

/* Image Styles */
.embla__slide {
    position: relative;
    flex: 0 0 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.embla__slide__img {
    display: block;
    padding: 15px;
    max-height: 600px; 
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

/* Arrow Button Styles */

.embla__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.embla__button {
    position: absolute;
    z-index: 2; 
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: black;
    color: #953A1D;
}

.embla__button--prev {
    left: -64px;
}

.embla__button--next {
    right: -64px;
}

.embla__button__svg {
    width: 100%;
    height: 100%;
}

.embla__button:hover {
    color: black;
}

/* Selection Dot Styles */

.embla__dots {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.embla__dot {
    background: #CCCCCC; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.embla__dot:hover {
    background: #953A1D;
}

.embla__dot--selected {
    background: #953A1D;
}

/* Mobile Styles */

@media (max-width: 1280px) {
    .embla__button {
        width: 24px;
        height: 24px;
    }

    .embla__button--prev {
        left: -36px;
    }

    .embla__button--next {
        right: -36px;
    }
    .embla__viewport {
        margin-bottom: 10px;
    }
    .embla__dot {
        width: 8px;
        height: 8px;
    }
    .embla__slide__img {
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .embla__slide__img {
        padding: 1px;
    }
}